

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Reset default margin and padding */
body, html {
  margin: 0;
  padding: 0;
}

/* Apply a modern sans-serif font */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff; /* Light gray background color */
}

.headerBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: #ffffff; /* White background color */
  overflow: hidden; /* Hide overflow */
}

.contentContainer {
  background-color: #f0f0f0;
  position: fixed;
  top: 8%;
  width: 100%;
  height: 100%;
  border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

.pic {
  outline: none;
  border: none;
  background-color: transparent;
}

.logoBox {
  position: absolute;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center;
  box-shadow: inset 0px -5px 5px -5px rgba(0, 0, 0, 0.1);
}

.tabsBox {
  position: absolute;
  height: 100%;
  width: 70%;
  left: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11px;
}

/* Style for tabs */
.cameraPageButton {
  padding: 10px 20px;
  margin: 0 5px;
  width: 22%;
  text-align: center;
  background-color: #f6f6f6;
  color: rgb(77, 75, 75);
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 
    inset 0px -5px 5px -5px rgba(0, 0, 0, 0.1), /* Inset shadow only along the bottom edge */
    0px 5px 5px rgba(0, 0, 0, 0.1), /* Shadow on the top side */
    -5px 0px 5px rgba(0, 0, 0, 0.1), /* Shadow on the left side */
    5px 0px 5px rgba(0, 0, 0, 0.1); /* Shadow on the right side */
}
.cameraPageButton.active {
  background-color: #f0f0f0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.dataPageButton {
  padding: 10px 20px;
  margin-right: auto;
  margin-left: auto;
  width: 22%;
  background-color: #f6f6f6;
  color: rgb(77, 75, 75);
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s ease;
  box-shadow: 
    inset 0px -5px 5px -5px rgba(0, 0, 0, 0.1), /* Inset shadow only along the bottom edge */
    0px 5px 5px rgba(0, 0, 0, 0.1), /* Shadow on the top side */
    -5px 0px 5px rgba(0, 0, 0, 0.1), /* Shadow on the left side */
    5px 0px 5px rgba(0, 0, 0, 0.1); /* Shadow on the right side */
}
.dataPageButton.active {
  background-color: #f0f0f0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.settingsPageButton {
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  width: 22%;
  text-align: center;
  background-color: #f6f6f6;
  color: rgb(77, 75, 75);
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 
    inset 0px -5px 5px -5px rgba(0, 0, 0, 0.1), /* Inset shadow only along the bottom edge */
    0px 5px 5px rgba(0, 0, 0, 0.1), /* Shadow on the top side */
    -5px 0px 5px rgba(0, 0, 0, 0.1), /* Shadow on the left side */
    5px 0px 5px rgba(0, 0, 0, 0.1); /* Shadow on the right side */
}
.settingsPageButton.active {
  background-color: #f0f0f0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.cameraBox {
  position: fixed;
  top: 20%;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  background-color: #ffffff; /* White background color */
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Add shadow for depth */
  overflow: hidden; /* Hide overflow */
}

.controlsBox {
  position: relative;
  top: 80%;
  width: 100%;
}

.cameraDropdownBox {
  position: 'relative';
  bottom: 43;
  right: 0;
  z-index: 15;
}

.exportBox {
  position: fixed;
  top: 85%;
}

.exportBox {
  padding: 20px;
}

/* Style for webcam video */
.video {
  width: 100%;
  max-width: 100%;
}

.flash-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  animation: flashEffect 1s linear;
}

@keyframes flashEffect {
  0% { background-color: white; }
  50% { background-color: transparent; }
  100% { background-color: transparent; }
}

/* Style for buttons */
.button {
  padding: 5px 10px;
  margin: 0 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e9e9e9;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); /* Add shadow for depth */
  }

.button:hover {
  background-color: #dedede;
}

.clear {
  opacity: 0.0;
}

.solid {
  opacity: 1.0;
}

.countdown {
  color:rgb(229, 18, 18);
  font-size:100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top:20%;
}

.deleteButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}